alabaster==0.7.12
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1588902970663/work
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1589761506780/work
binaryornot==0.4.4
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cmarkgfm==0.4.2
colorama==0.4.3
cookiecutter==1.7.2
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
future==0.18.2
idna==2.9
imagesize==1.2.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1591451756227/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1590020202605/work/dist/ipykernel-5.3.0-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1590796906184/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
jeepney==0.4.3
Jinja2==2.11.2
jinja2-time==0.2.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1588433932455/work
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1588887220875/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1591485221441/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1592421989564/work
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.5.0.1
poyo==0.5.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit==3.0.5
psycopg2==2.8.5
ptyprocess==0.6.0
py4j==0.10.7
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
PySocks==1.7.1
pyspark==2.4.4
python-dateutil==2.8.1
python-slugify==4.0.0
pytz==2020.1
pyzmq==19.0.1
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1589392299544/work
QtPy==1.9.0
readme-renderer==24.0
requests==2.23.0
requests-toolbelt==0.9.1
rfc3986 @ file:///home/conda/feedstock_root/build_artifacts/rfc3986_1593217945888/work
scipy==1.4.1
seaborn==0.10.1
SecretStorage==3.1.2
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
snowballstemmer==2.0.0
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1589779059896/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1590509607409/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.11.1
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
tornado==6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1591181521996/work
traitlets==4.3.3
twine @ file:///home/conda/feedstock_root/build_artifacts/twine_1593299842553/work
Unidecode==1.1.1
urllib3==1.25.9
versioneer==0.18
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1591117871324/work
webencodings==0.5.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1590799523302/work
zipp==3.1.0
